<section>
  <h2>Crie sua própria sala</h2>
  <form action="/create-room" method="POST">
    <label class="sr-only" for="codeSala">Insira uma senha</label>
    <input
      type="password"
      name="codeSala"
      id="CodeSala"
      placeholder="Insira uma senha"
      required
    />
    <button>
      <img src="images/users_2.svg" alt="" />
      Criar Sala
    </button>
  </form>
</section>
